{% extends './../masterPage.html' %}
{% block contenido %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/style1.css' %}">


<form action = '/tienda/registrarProductos/' method = 'POST'> 
  {% csrf_token %}  
    <label> Tipo de Deporte: </label> <br>
    <select name = 'select_deporte[]'>
      <option value="0">Seleccione Deporte</option>
      {% for item in tiposDeporte %}
      <option value="{{item.id}}">{{item.detalle_deporte}}</option>
      {% endfor %}
    </select>
    <label> Tipo de Indumentaria: </label> <br>
    <select name = 'select_indumentaria[]'>
      <option value="0">Seleccione Indumentaria</option>
      {% for item in tiposIndumentaria %}
      <option value="{{item.id}}">{{item.detalle_indumentaria}}</option>
      {% endfor %}
    </select>
    <label> Nombre del Producto: </label> <br>
    <input type="text" placeholder="Ingrese nombre del producto" name = 'nombre_producto' /> <br>
    <label> Stock: </label> <br>
    <input type="text" placeholder="Ingrese cantidad de stock" name = 'stock' /> <br>

  <br>
  <button> Guardar </button>
  </form>

{% endblock  %} 